* {
    box-sizing: border-box
}

body {
    background-color: salmon;
}

#main-container {
    position: fixed;
    top: 25px;
    left: 25px;

    height: 600px;
    width : 600px;

    background-color: antiquewhite
}

#secondary-container {
    position: fixed;
    top: 25px;
    left: 675px;

    height: 600px;
    width: 300px;

    background-color: antiquewhite;

}

#main-canvas {
    height:600px;
    width:600px;
}